.parallax {
    background-image: url("../images/backgroundhomepage.jpg");
    height: 740px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}
.navbar {
    z-index: 2;
    width: 100%; }

.bg-nav {
    background-color: rgba(0, 124, 182, 0.507);
    opacity: 0.8; 
}

.nav-item {
    padding-left: 20px;
    font-weight: bolder; 
}
.nav-link {
    color: white;
}

    .navbar-toggler-icon {
        background-image: url();
        padding: 20px; }
.headerpic {
    width: 100%;
}
.Titleheader {
    padding-top: 80px;
    padding-left: 40%;
}
